body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

h3 {
    color: #ffffff;
}

p {
    color: #ffffff;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

button:hover {
    background-color: #2980b9;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}
