body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.title {
    margin-bottom: 20px;
}

.tituloPrincipal {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.sub-titulo {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

.login {
    margin-top: 20px;
    margin-left: 70px;
}

#senha {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

#Botão {
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

#Botão:hover {
    background-color: #333;
}

p {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}




@media (max-width: 768px) {
    body {
        flex-direction: column;
    }
    form, div {
        width: 100%;
    }
}

@media (min-width: 768px) {
    div {
        margin-right: 70px;
    }
}

